.buscador-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 80%;
}

.buscador-input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  margin-right: 8px; /* 👉 Añadido para crear espacio */
}

.info-button {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.info-button:hover {
  background-color: #0056b3;
}
